.bg-overlay {
  background: linear-gradient(
    rgba(167, 28, 28, 100%) 0%,
    rgba(167, 28, 28, 52%) 100%
  );
  position: absolute;
  inset: 0;
  width: 100%;
  height: 60vh;
  border-radius: 0 0 var(--rounded-lg) var(--rounded-lg);
}

.main-content {
  height: 60vh;
}

.aboutus-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10vh;
  color: white;
  gap: 1rem;
}

.aboutus-intro > p {
  font-size: var(--normal-text);
}

.aboutus-cta {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  padding: 2.5rem 1rem;
  gap: clamp(1rem, 5vw, 4rem);
}

.aboutus-cta > img {
  width: clamp(15rem, 40vw, 25rem);
}

.aboutus-cta > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: var(--sm-text);
  gap: 1rem;
}

@media (max-width: 500px) {
  .aboutus-cta {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutus-cta > div {
    text-align: center;
    align-items: center;
  }
}

.copy-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 0rem;
  font-size: var(--sm-text);
}
